
*.gz

*.fa

*.fastq

*.fastq.gz

*.refmap

*.htemp

*.utemp

*.catg

*.tmp

*.bam

*.sam

*.hdf5

*.bam.bai

*.fai

*.smi

*.sma

*.phy

*.vcf

data3.txt
*.nex
*.loci
*.nc
*.dbf
*.shp
*.blast
*.fasta
analyses/satellite-data-analysis/.RData
data/Porites_astreoides.annot.tsv
data/Porites_astreoides_cds_100.final.clstr.fna
data/Porites_australiensis.annot.tsv
data/Porites_australiensis_cds_100.final.clstr.fna
data/Porites_lobata.annot.tsv
data/Porites_lobata_cds_100.final.clstr.fna
data/Porites_spp.annot.sorted.tsv
data/Porites_spp.annot.tsv
data/Porites_spp_cds.fna
data/Porites_spp_cds.fna.nhr
data/Porites_spp_cds.fna.nsq
data/Porites_spp_cds.fna.nsi
data/Porites_spp_cds.fna.nsd
data/Porites_spp_cds.fna.nog
data/Porites_spp_cds.fna.nin
