
*.gz

*.fa

*.fastq

*.fastq.gz

*.refmap

*.htemp

*.utemp

*.catg

*.tmp

*.bam

*.sam

*.hdf5

*.bam.bai

*.fai

*.smi

*.sma

*.phy

*.vcf

*.fna

*.amb

*.ann

*.bwt

*.pac

*.sa

*.nex

*.h5

data3.txt
